{# details.html.twig #}
{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - Details
{% endblock %}

{% block content %}
    {{ parent() }}
    <h3 style="color: #990000">THIS IS details.php. It includes the footer using a global variable with Twig :</h3>
{% endblock %}